{{template "admin" .}}

{{define "page-title"}}
    Reservation
{{end}}

{{define "content"}}
    {{$res := index .Data "reservation"}}
    {{$src := index .StringMap "src"}}
    <div class="col-md-12">
        <p>
            <strong>Arrival:</strong> {{humanDate $res.StartDate}}<br>
            <strong>Departure:</strong> {{humanDate $res.EndDate}}<br>
            <strong>Room:</strong> {{$res.Room.RoomName}}<br>
        </p>

        <form action="/admin/reservations/{{$src}}/{{$res.ID}}" method="post" class="" novalidate>
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

            <div class="form-group mt-3">
                <label for="first_name">First Name:</label>
                {{with .Form.Errors.Get "first_name"}}
                    <label class="text-danger">{{.}}</label>
                {{end}}
                <input class="form-control {{with .Form.Errors.Get "first_name"}} is-invalid {{end}}"
                       id="first_name" autocomplete="off" type='text'
                       name='first_name' value="{{$res.FirstName}}" required>
            </div>

            <div class="form-group">
                <label for="last_name">Last Name:</label>
                {{with .Form.Errors.Get "last_name"}}
                    <label class="text-danger">{{.}}</label>
                {{end}}
                <input class="form-control {{with .Form.Errors.Get "last_name"}} is-invalid {{end}}"
                       id="last_name" autocomplete="off" type='text'
                       name='last_name' value="{{$res.LastName}}" required>
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                {{with .Form.Errors.Get "email"}}
                    <label class="text-danger">{{.}}</label>
                {{end}}
                <input class="form-control {{with .Form.Errors.Get "email"}} is-invalid {{end}}"
                    id="email" autocomplete="off" type='email'
                    name='email' value="{{$res.Email}}" required>
            </div>

            <div class="form-group">
                <label for="phone">Phone:</label>
                {{with .Form.Errors.Get "phone"}}
                    <label class="text-danger">{{.}}</label>
                {{end}}
                <input class="form-control {{with .Form.Errors.Get "phone"}} is-invalid {{end}}"
                    id="phone" autocomplete="off" type='email'
                    name='phone' value="{{$res.Phone}}" required>
            </div>

            <hr>
            <div class="float-left">
                <input type="submit" class="btn btn-primary" value="Save">
                <a href="/admin/reservations-{{$src}}" class="btn btn-warning">Cancel</a>
                <a href="#!" class="btn btn-info" onclick="processRes({{$res.ID}})">Mark as Processed</a>
            </div>
            <div class="float-right">
                <a href="#!" class="btn btn-danger" onclick="deleteRes({{$res.ID}})">Delete</a>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
{{end}}

{{define "js"}}
{{$src := index .StringMap "src"}}
<script>
    function processRes(id) {
        attention.custom({
            icon: 'warning',
            msg: 'Are you sure?',
            callback: function (result) {
                if (result !== false) {
                    window.location.href = "/admin/process-reservation/{{$src}}/" + id;
                }
            }
        })
    }

    function deleteRes(id) {
        attention.custom({
            icon: 'warning',
            msg: 'Are you sure?',
            callback: function (result) {
                if (result !== false) {
                    window.location.href = "/admin/delete-reservation/{{$src}}/" + id;
                }
            }
        })
    }
</script>
{{end}}