{{template "base" .}}

{{define "css"}}
<style>
    label {
        font-weight: 800;
    }
</style>
{{end}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mt-3">Contact Us</h1>
            <hr>

            <div class="col-md-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5662.961313446246!2d-79.73441857005476!3d44.79139218040732!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4d2ac17a9c7f5721%3A0xdd1a59a0651ecfc6!2sPicnic%20Rock!5e0!3m2!1sen!2sca!4v1609783191018!5m2!1sen!2sca"
                        width="100%" height="600" frameborder="0" style="border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>

            </div>

            <div class="col-md-6 text-center">
                <strong>Fort Smythe Bed & Breakfast</strong><br>
                100 Rocky Road<br>
                Northbrook, Ontario<br>
                Canada<br>
                (416) 555-1212<br>
                <a href="mailto:info@sfbb.ca">info@fsbb.ca</a>
            </div>
        </div>
    </div>
</div>
{{end}}